/BookCode_Edition1
/twitter/data
/twitter/scraping/res/bearer.txt
/psyenv
/.ssh-and-git
/MAG/Miniconda3-py39_4.9.2-Linux-x86_64.sh
/MAG/.empty
/MAG/data
/MAG/modeling/recoded
/MAG/modeling/models
/twitter/nlp/semantic_kernel/semanticenv
/twitter/nlp/semantic_kernel/mdl
